.container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
  margin-top: 20vh;
  max-height: 50%
}
.iconContainer {
    max-height: 30vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    img {
        width: 60%;
        height: 100%;
    }
}
.loginBtn {
  margin-top: 16px;
  flex-grow: 1
}
.card {
    max-height: 80vh;
//   margin-top: 80px
}